{% extends 'layoutEmail.html.twig' %}
{% block body %}
		<h1>New program
			{{ episode.title }}
			created</h1>
		<p>Hello, the new episode
			{{ program.title }}
			has been created on Wild Series</p>
		<p>Synopsis :{{program.synopsis }}
		</p>

{% endblock %}