{% extends 'base.html.twig' %}

{% block body %}
<div class="ms-">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class"btn btn-button m-3">Ajouter</button>
	{{ form_end(form) }}
</div>
{% endblock %}
