$primary:#4A4949;
$secondary:#C37B55;
$light:#F8F6F4;
$dark:#1A1918;
$grey:#DDD0CA;
@import "~bootstrap/scss/bootstrap";


body {
    background-color: lightc;
}

.logo{
    width: 5rem;
    height: 3.5rem;
}