{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ actor.name }}</h1>
    <ul>
    {% for program in programs %}
    <h2>Les séries qu'il joue</h2>
    <li>{{ program }}</li>
    {% endfor %}
</ul>
{% endblock %}